<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Robot Base -->
<link name="base_link">
  <visual>
    <geometry>
      <box size="${base_length} ${base_width} ${base_height}"/>
    </geometry>
    <material name="Cyan">
      <color rgba="0 1.0 1.0 1.0"/>
    </material>
  </visual>

  <collision>
    <geometry>
      <box size="${base_length} ${base_width} ${base_height}"/>
    </geometry>
  </collision>

  <!--<xacro:box_inertia m="10" w="${base_width}" d="${base_length}" h="${base_height}"/>-->
</link>

<!-- Robot Footprint -->
  <link name="base_footprint">
    <!-- <xacro:box_inertia m="0" w="0" d="0" h="0"/> -->
  </link>
<joint name="base_joint" type="fixed">
  <parent link="base_link"/>
  <child link="base_footprint"/>
  <origin xyz="0.0 0.0 -0.1" rpy="0 0 0"/>
</joint>






<!--<joint name="wheel_joint" type="continuous">
  <parent link="base_link"/>
  <child link="wheel_link"/>
  <origin xyz="${-wheel_xoff} 0 ${-wheel_zoff}" rpy="0 0 0"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit effort="10.0" velocity="1.0"/>
</joint>
<link name="wheel_link">
</link>-->
</robot>
